<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript"
	src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<title>TicTacToe</title>
<style>
body {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	border: 3px solid #73AD21;
}

.center {
	text-align: center;
	border: 3px solid green;
}
</style>
<script>
function close_window(){
    if(confirm("Are you sure, you want to exit")){
       close();
    }
}   
</script>
<script>
   var socket = io.connect('http://' + document.domain + ':' + location.port);
   socket.on('start_event', function() {
        //$("#start").show();
        window.location.href = "/join";
    });
</script>
</head>
<body class="center">
Waiting for other players to join....will redirect
</body>
</html>